body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
}

fieldset,
img,
abbr {
	border: 0;
}

address,
caption,
cite,
code,
dfn,
th,
var {
	font-style: normal;
	font-weight: normal;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

ul li {
	list-style: none;
}

caption,
th {
	text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
}

sup {
	vertical-align: text-top;
}

sub {
	vertical-align: text-bottom;
}

input,
textarea,
select {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	outline: none;
}

legend {
	color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
	display: block;
}

.main-header + .doc .subtitle {
	padding-bottom: 170px;
}

.main-header__block {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.main-header__wrap {
	margin-right: auto;
}

.main-header__list {
	display: flex;
	align-items: center;
}

.main-header__list li:not(:last-child) {
	margin-right: 40px;
}

.main-header__link {
	display: block;
	font-size: 18px;
	line-height: 1.2;
	color: #cab3ad;
	text-transform: uppercase;
	font-weight: 700;
	transition: 0.3s color;
}

.main-header__link:hover:not(.main-header__link--active) {
	color: #C21330;
}

.main-header__description {
	font-size: 18px;
	color: #000;
	font-weight: bold;
	text-transform: uppercase;
	padding-right: 15px;
}

.mobile-wrap {
	display: none;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
}

.line-burger {
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	width: 25px;
	height: 3px;
	background-color: #fff;
	transition: 0.5s width;
}

.line-burger:after,
.line-burger:before {
	content: '';
	position: absolute;
	width: 25px;
	height: 3px;
	background-color: #fff;
	left: 0;
	transition: 0.5s;
}

.line-burger:after {
	top: calc(100% + 5px);
}

.line-burger:before {
	bottom: calc(100% + 5px);
}

.line-active {
	width: 0;
}

.line-active:after {
	top: 9px;
	transform: rotate(-45deg);
	transform-origin: 0 0;
}

.line-active:before {
	bottom: 9px;
	transform: rotate(45deg);
	transform-origin: 0 100%;
}

.main-nav__toggle {
	position: relative;
	cursor: pointer;
	display: none;
	width: 25px;
	height: 25px;
	margin-top: -5px;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	min-width: 320px;
	min-height: 100vh;
	overflow-x: hidden;
	color: #333333;
	background-color: #1c1823;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	text-size-adjust: none;
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
	font-size: 16px;
	line-height: 1.2;
	font-weight: normal;
	font-style: normal;
	font-family: "Roboto";
	counter-reset: section;
}

* {
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
}

.svg-about {
	display: none;
}

.container {
	max-width: 1240px;
	margin: 0 auto;
	padding: 0 20px;
}

.container--inner {
	max-width: 1920px;
	margin: 0 auto;
}

.title {
	font-size: 48px;
	line-height: 1.2;
	color: #fff;
	text-transform: uppercase;
	padding-bottom: 80px;
	font-weight: 700;
}

.subtitle {
	font-size: 128px;
	color: #C9B3AE;
	text-transform: uppercase;
	font-weight: 100;
}

.input {
	display: block;
	width: 100%;
	font-size: 18px;
	color: #fff;
	background: #C9B3AE;
	border: 2px solid #C9B3AE;
	border-radius: 5px;
	outline: none;
	text-transform: uppercase;
	padding: 17px 20px;
}

.input::placeholder {
	color: #fff;
}

.input:focus::placeholder {
	color: transparent;
}

.input--area {
	min-height: 200px;
	resize: none;
}

.input.form-fail {
	border-color: #ff0000;
}

.btn {
	display: block;
	max-width: 185px;
	width: 100%;
	cursor: pointer;
	font-size: 16px;
	color: #c9b3ae;
	background-color: transparent;
	border: none;
	outline: none;
	border-radius: 25px;
	border: 2px solid #C9B3AE;
	padding: 13px 12px;
	padding-bottom: 14px;
	text-align: center;
	font-weight: 700;
	transition: 0.2s background, 0.2s color, 0.2s border;
	font-family: "Roboto";
	font-weight: 700;
}

.btn--header {
	max-width: 250px;
	position: relative;
	width: 100%;
	font-size: 18px;
	color: #000;
	background-color: #fff;
	border-color: #fff;
	padding: 22px 12px;
	border-radius: 0px;
}

.btn--details {
	max-width: 228px;
	font-size: 14px;
	padding: 14px 12px;
	padding-bottom: 15px;
}

.btn--inner:hover {
	background-color: #fff;
	color: #000;
}

.btn--load {
	color: #C21330;
	background-color: #fff;
}

.about .btn--inner,
.desc .btn--inner,
.doc .btn--inner,
.contacts .btn--inner {
	margin: 0 auto;
}

.breadcrumbs__list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding-top: 80px;
	padding-bottom: 52px;
}

.breadcrumbs__list li {
	display: block;
	cursor: default;
	margin-bottom: 15px;
}

.breadcrumbs__list li:not(:last-child) {
	margin-right: 40px;
	transition: 0.3s color;
	position: relative;
}

.breadcrumbs__list li:not(:last-child):after {
	position: relative;
	right: -20px;
	line-height: 1;
	content: '/';
	color: #C9B3AE;
}

.breadcrumbs__list li,
.breadcrumbs__list a {
	font-size: 16px;
	line-height: 1.2;
	color: #C9B3AE;
	text-transform: uppercase;
	text-align: center;
	transition: 0.25s color;
}

.breadcrumbs__list a:hover {
	color: #C21330;
}

section .container,
footer .container {
	position: relative;
}

section .container:after,
footer .container:after {
	position: absolute;
	content: ' ';
	top: 0px;
	right: 20px;
	width: 250px;
	height: 100%;
	background-color: #C21330;
}

section .contacts__box .container:after {
	display: none;
}

.counter {
	position: relative;
}

.counter:after {
	position: absolute;
	top: 0px;
	left: 30px;
	counter-increment: section;
	content: "0" counter(section);
	font-size: 36px;
	color: #C9B3AE;
	font-weight: 200;
	font-family: Inter;
}

.counter:before {
	position: absolute;
	content: ' ';
	top: 20px;
	left: 80px;
	width: 50px;
	height: 1px;
	background-color: #C9B3AE;
	font-size: 36px;
	color: #C9B3AE;
}

.about .counter:after {
	top: -100px;
}

.about .counter:before {
	top: calc(20px - 100px);
}

.single .counter:after {
	top: 130px;
}

.single .counter:before {
	top: calc(20px + 130px);
}

.about__title,
.about__text {
	max-width: 700px;
}

.about__title {
	font-size: 128px;
	line-height: 1.2;
	color: #c9b3ae;
	text-transform: uppercase;
	padding-top: 110px;
	padding-bottom: 100px;
	font-weight: 100;
}

.about__text {
	margin-bottom: 90px;
}

.about__text p {
	font-size: 18px;
	line-height: 1.67;
	color: #c9b3ae;
}

.services {
	position: relative;
	z-index: 2;
}

.services .title {
	padding-top: 100px;
}

.services__wrap {
	max-width: 700px;
}

.services__item {
	position: relative;
	display: block;
	background: linear-gradient(98deg, #3c3547 -3.85%, #b41733 104.63%);
	padding: 15px 40px;
	padding-bottom: 35px;
}

.services__item:not(:last-child) {
	margin-bottom: 45px;
}

.services__item:hover .btn {
	background: #fff;
	color: #000;
}

.services__item:after {
	position: absolute;
	content: ' ';
	top: 0px;
	left: 0px;
	width: 100%;
	height: 56px;
	background-color: #fff;
}

.services__subtitle {
	position: relative;
	z-index: 2;
	font-size: 70px;
	line-height: 1.25;
	color: #C9B3AE;
	text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
	text-transform: uppercase;
	padding-bottom: 30px;
	font-weight: 700;
}

.services__text {
	margin-bottom: 32px;
}

.services__text p {
	font-size: 16px;
	line-height: 1.25;
	color: #fff;
}

.desc + .doc .title {
	padding-top: 110px;
}

.desc .title {
	padding-top: 150px;
}

.desc__holder {
	width: calc(100% - 300px);
}

.desc__text {
	padding-top: 15px;
	padding-bottom: 88px;
}

.desc__text p {
	font-size: 18px;
	line-height: 1.6;
	color: #fff;
}

.desc__text p:not(:last-child) {
	padding-bottom: 2em;
}

.doc + .contacts .title {
	padding-top: 160px;
}

.doc__holder {
	width: calc(100% - 300px);
}

.doc__wrap {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 50px;
	margin: 0 -20px;
}

.doc__item {
	width: calc(100% / 2 - 40px);
	background: linear-gradient(280.47deg, #ae1935 -5.01%, #423447 103.1%);
	padding: 36px 25px;
	padding-bottom: 46px;
	margin: 0 20px;
	margin-bottom: 44px;
}

.doc__item:hover .btn {
	background-color: #000;
	border-color: #000;
	color: #fff;
}

.doc__subtitle {
	font-size: 18px;
	line-height: 1.67;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 28px;
}

.doc__text {
	margin-bottom: 32px;
}

.doc__text p {
	font-size: 16px;
	line-height: 1.5;
	color: #fff;
}

.contacts__holder {
	width: calc(100% - 300px);
	padding-bottom: 86px;
}

.contacts__wrap {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -20px;
}

.contacts__item {
	width: calc(100% / 2 - 40px);
	margin: 0 20px;
	margin-bottom: 45px;
}

.contacts__item--area {
	width: 100%;
}

.contacts__box {
	position: relative;
	z-index: 2;
	background-color: #f3f3f3;
}

.contacts__row {
	display: flex;
	align-items: center;
	padding-top: 38px;
	padding-bottom: 18px;
}

.contacts__phone,
.contacts__email {
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 44px;
	margin-bottom: 20px;
}

.contacts__phone {
	min-width: 250px;
	background-image: url(img/icons/phone.svg);
	font-size: 24px;
	line-height: 1.2;
	color: #0F2742;
	margin-right: 35px;
}

.contacts__email {
	min-width: 222px;
	background-image: url(img/icons/email.svg);
	font-size: 20px;
	line-height: 1.2;
	color: #0F2742;
	margin-right: 50px;
	margin-bottom: 20px;
}

.contacts__address {
	font-size: 24px;
	line-height: 1.2;
	color: #000000;
	margin-right: 35px;
	margin-bottom: 20px;
}

.contacts__schedule {
	min-width: 300px;
	margin-bottom: 20px;
}

.contacts__schedule p {
	font-size: 18px;
	line-height: 1.2;
	color: #000000;
	font-weight: 200;
}

.contacts__error {
	color: #ff0000;
	letter-spacing: 0.04em;
	padding-bottom: 20px;
	font-weight: 700;
}

.single__bg {
	margin-bottom: 52px;
}

.single__bg img {
	display: block;
	width: 100%;
}

.single__text {
	width: calc(100% - 300px);
	font-size: 16px;
	line-height: 1.88;
	color: #C9B3AE;
	padding-top: 70px;
	padding-bottom: 60px;
}

.single__text p:not(:last-child) {
	padding-bottom: 2em;
}

.single__text h1 {
	font-size: 24px;
}

.single__text h2 {
	font-size: 22px;
}

.single__text h3 {
	font-size: 18px;
}

.single__text h4,
.single__text h5,
.single__text h6 {
	font-size: 16px;
	line-height: 1.29;
}

.single__text h1,
.single__text h2,
.single__text h3,
.single__text h4,
.single__text h5,
.single__text h6 {
	padding-bottom: 15px;
	font-weight: 500;
}

.single__text ul,
.single__text ol {
	padding: 0px;
	margin: 0px;
	padding-bottom: 1.5em;
}

.single__text ul li,
.single__text ol li {
	position: relative;
	line-height: 1.25;
	margin-bottom: 6px;
	font-weight: normal;
}

.single__text ol li {
	list-style-position: inside;
}

.single__text a {
	display: inline-block;
	margin-bottom: 12px;
}

.footer {
	background-color: #000;
	padding-bottom: 150px;
}

.footer__wrap {
	width: calc(100% - 300px);
}

.footer__logo {
	max-width: 176px;
	width: 100%;
	padding-top: 64px;
	margin: 0 auto;
	margin-bottom: 50px;
}

.footer__logo img {
	display: block;
}

.footer__text {
	margin-bottom: 50px;
}

.footer__text p {
	font-size: 14px;
	line-height: 2.14;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
}

.footer__elem {
	font-size: 18px;
	line-height: 1.2;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	font-weight: 100;
}

@media screen and (max-width: 1530px) {

.counter:after {
	left: 16px;
}

.counter:before {
	left: 70px;
	width: 30px;
}

}

@media screen and (max-width: 1430px) {

.counter:before {
	display: none;
}

}

@media screen and (max-width: 1350px) {

.counter:after {
	display: none;
}

}

@media screen and (max-width: 1199px) {

.contacts__row {
	flex-wrap: wrap;
	justify-content: center;
}

.contacts__email {
	margin-right: 0px;
}

.contacts__address {
	flex-basis: 100%;
	display: flex;
	justify-content: center;
	text-align: center;
	max-width: 100%;
	margin-right: 0px;
}

}

@media screen and (max-width: 1150px) {

.main-header__link {
	font-size: 17px;
}

.subtitle {
	font-size: 100px;
}

.btn--header {
	max-width: 205px;
}

section .container:after,
footer .container:after {
	width: 205px;
}

}

@media screen and (max-width: 1022px) {

.main-header + .doc .subtitle {
	padding-bottom: 100px;
}

.main-header__list li:not(:last-child) {
	margin-right: 28px;
}

.main-header__link {
	font-size: 16px;
}

.title {
	font-size: 38px;
	padding-bottom: 60px;
}

.subtitle {
	font-size: 70px;
}

section .container:after,
footer .container:after {
	display: none;
}

.about__title {
	font-size: 100px;
	padding-top: 70px;
	padding-bottom: 60px;
}

.about__text {
	margin-bottom: 75px;
}

.services .title {
	padding-top: 80px;
}

.services__wrap {
	margin: 0 auto;
}

.services__item {
	padding: 35px 20px;
	padding-top: 10px;
}

.services__item:after {
	height: 40px;
}

.services__subtitle {
	font-size: 50px;
}

.desc + .doc .title {
	padding-top: 60px;
}

.desc .title {
	padding-top: 70px;
}

.desc__holder {
	width: 100%;
}

.desc__text {
	padding-bottom: 60px;
	margin-top: 15px;
}

.doc + .contacts .title {
	padding-top: 100px;
}

.doc__holder {
	width: 100%;
}

.doc__wrap {
	padding-top: 0px;
	padding-bottom: 20px;
	margin: 0px;
}

.doc__item {
	width: 100%;
	max-width: 550px;
	margin: 0 auto;
	margin-bottom: 45px;
}

.contacts__holder {
	width: 100%;
	padding-bottom: 55px;
}

.contacts__phone {
	font-size: 22px;
}

.contacts__email {
	font-size: 20px;
}

.contacts__address {
	font-size: 22px;
}

.contacts__schedule p {
	font-size: 16px;
}

.single__text {
	width: 100%;
}

.footer {
	padding-bottom: 110px;
}

.footer__wrap {
	width: 100%;
}

}

@media screen and (max-width: 960px) {

.main-header__block {
	justify-content: space-between;
}

.main-header__wrap {
	margin-right: 30px;
}

.main-header__list {
	display: none;
	width: calc(100% + 40px);
	top: 100%;
	left: -20px;
	right: 0px;
	z-index: 3;
	position: absolute;
	max-height: calc(100vh - 70px);
	overflow-y: auto;
	overflow-x: hidden;
	padding: 0;
	padding-bottom: 10px;
	background-color: #1c1823;
}

.main-header__link {
	padding: 8px 20px;
}

.mobile-wrap {
	display: flex;
	width: 100%;
	padding: 7px 0px;
	padding-bottom: 8px;
}

.main-nav__toggle {
	display: block;
}

}

@media screen and (max-width: 767px) {

.main-header + .doc .subtitle {
	padding-bottom: 60px;
}

.title {
	font-size: 30px;
	padding-bottom: 36px;
}

.subtitle {
	font-size: 40px;
}

.btn--header {
	max-width: 170px;
	padding: 13px 12px;
}

.breadcrumbs__list {
	padding-bottom: 36px;
}

.about__title {
	font-size: 60px;
	padding-bottom: 50px;
}

.about__text {
	margin-bottom: 60px;
}

.services .title {
	padding-top: 60px;
}

.services__item {
	padding-top: 18px;
}

.services__item:after {
	height: 35px;
}

.services__subtitle {
	font-size: 27px;
}

.desc__text {
	padding-bottom: 50px;
}

.doc + .contacts .title {
	padding-top: 60px;
}

.contacts__wrap {
	margin: 0px;
}

.contacts__item {
	width: 100%;
	margin: 0px;
	margin-bottom: 36px;
}

.footer {
	padding-bottom: 60px;
}

}

@media screen and (max-width: 560px) {

.contacts__phone {
	flex-basis: 100%;
	max-width: 250px;
	margin: 0px auto;
	margin-bottom: 20px;
}

}

